@using Ontwikkelopdracht.Models
@using Util
@model User

@{
    ViewBag.Title = Model.Name;
}

<img class="circle pull-right" src="@Gravatar.GetUrl(Model.Email, "404")" onerror="this.remove()" alt="person">
<h1>@ViewBag.Title</h1>
@Html.DisplayNameFor(user => user.Email): @Html.DisplayFor(user => user.Email)<br>
<div class="checkbox">
    <label>
        @Html.DisplayFor(user => user.Admin) @Html.DisplayNameFor(user => user.Admin)
    </label>
</div>

<h2>Admin</h2>
@Html.ActionLink("Delete", "Delete", "User", new { id = Model.Id}, new {@class="btn btn-raised btn-danger"})
@Html.ActionLink("Edit", "Edit", "User", new { id = Model.Id}, new {@class="btn btn-raised"})