@using Ontwikkelopdracht.Models
@model Show

@{
    ViewBag.Title = "Nieuwe Voorstelling";
}

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Save", "Show"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(show => show.Id)

    <div class="form-group">
        @Html.LabelFor(show => show.Date, new {@class = "control-label"})
        @Html.EditorFor(show => show.Date, new {htmlAttributes = new {@class = "form-control", type = "datetime-local"}})
    </div>

    <div class="form-group">
        @Html.LabelFor(show => show.Film, new {@class = "control-label"})
        @Html.DropDownListFor(show => show.Film.Id, (IEnumerable<SelectListItem>) ViewBag.Film, new {@class = "form-control"})
    </div>

    <input class="btn btn-primary btn-raised" type="submit" value="Toevoegen"/>
    <input class="btn btn-raised" type="button" onclick="location.href = '@Url.Action("Index", "Show")'" value="Annuleren"/>
}