@using Models
@model Cat
@{
    ViewBag.Title = "Kat toevoegen";
}
<h2>Dier toevoegen</h2>
@using (Html.BeginForm("CreateCat", "Animals"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(cat => cat.Id)

    @Html.LabelFor(cat => cat.Name)
    @Html.EditorFor(cat => cat.Name)
    @Html.ValidationMessageFor(cat => cat.Name)
    <br>

    @Html.LabelFor(cat => cat.Gender)
    @Html.DropDownListFor(cat => cat.Gender, (IEnumerable<SelectListItem>) ViewBag.GenderOptions)
    @Html.ValidationMessageFor(cat => cat.Gender, "Man of vrouw")
    <br>
}