@using Ontwikkelopdracht.Models
@model Film

@{
    ViewBag.Title = "Nieuwe Film";
}

<h1>Nieuwe Film</h1>
@using (Html.BeginForm("Save", "Film"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(film => film.Id)

    <div class="form-group label-floating">
        @Html.LabelFor(film => film.Title, new {@class = "control-label"})
        @Html.EditorFor(film => film.Title, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group">
        @Html.LabelFor(film => film.Release, new {@class = "control-label"})
        @Html.EditorFor(film => film.Release, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group label-floating">
        @Html.LabelFor(film => film.Length, new {@class = "control-label"})
        @Html.EditorFor(film => film.Length, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group label-floating">
        @Html.LabelFor(film => film.Language, new {@class = "control-label"})
        @Html.EditorFor(film => film.Language, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group label-floating">
        @Html.LabelFor(film => film.Subtitles, new {@class = "control-label"})
        @Html.EditorFor(film => film.Subtitles, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group">
        @Html.LabelFor(film => film.Genre, new {@class = "control-label"})
        @Html.DropDownListFor(film => film.Genre.Id, (IEnumerable<SelectListItem>) ViewBag.Genre, new {@class = "form-control"})
    </div>

    <input class="btn btn-primary btn-raised" type="submit" value="Toevoegen"/>
    <input class="btn btn-raised" type="button" onclick="location.href = '@Url.Action("Index", "Film")'" value="Annuleren"/>
}